* {
	box-sizing: border-box;
	margin: 0;
}
.js-weather-list__item--tmp {
	display: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


.weather {
	background: #e4e4e4;
	text-align: center;
	padding: 20px 0 30px;
}

.weather__header {
	margin-bottom: 20px;
}

.weather__nav--prev {
	background: url(../src/prev.png);
}
.weather__nav--prev.active {
	background: url(../src/prev-active.png);
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.weather__nav--next {
	background: url(../src/next.png);
}
.weather__nav--next.active {
	background: url(../src/next-active.png);
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.weather__nav {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	float: left;
	width: 10%;
	height: 40px;
}





.weather__list, .weather-list {
	float: left;
	width: 80%;
}

.weather-list__item, .weather-list-item {
	height: 320px;
	float: left;
	width: 25%;
	border: 1px solid #e4e4e4;
	background: #ffffff;
}



.weather-list-item__img--sun-none {
	background: url(../src/sun-none.png);
}
.weather-list-item__img--sun-snow {
	background: url(../src/sun-snow.png);
}
.weather-list-item__img--sun-rain {
	background: url(../src/sun-rain.png);
}
.weather-list-item__img--cloud-rain {
	background: url(../src/cloud-rain.png);
}
.weather-list-item__img--cloud-none {
	background: url(../src/cloud-none.png);
}
.weather-list-item__img--cloud-snow {
	background: url(../src/cloud-snow.png);
}
.weather-list-item__img {
	margin: 0 auto;
	width: 36px;
	height: 36px;
	background-size: contain;
	background-repeat: no-repeat;
}